body {
  background-color: lightgray;
  display: block;
}

* {
  font-family: 'Roboto Condensed', sans-serif;
}

label {
background-color: hsla(9, 100%, 64%, 0.2)
}

a[target] {
letter-spacing: 2px;

}

.myhover {
background-color: #F0D8F2;
font-size: 10mm;
}

p.intro {
color:#17F;
font-size: 0.5cm;
display: none;
}

td, th {
color: white
}

div label {
color: rgb(106,90,205)
}

fieldset > legend {
font-weight: bold;
font-style: oblique;
}

.school + p {
color: hsl(3, 100%, 50%);
}

h2 ~ ul {
color: blue;
border: 15px solid lightseagreen;
}

.second {
  border-style: double;
  background-color: rgba(255, 48, 71, 0.3);
  border-color:black;
  border-width: 2px;
  border-radius: 25% 10%;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;

}
